{% extends "../base.html" %}

{% block content %}
<div class="container">
    <h1>Where is the user settings location</h1>
    <p>For Mac, it is in the file ~/Library/Application\ Support/Code/User/settings.json</p>

    <h1>Vertical rulers</h1>
    <p>editor.rulers: [80, 120]</p>

    <h1>comment out python code</h1>
    <p>Select the code to be commented, press <kbd>&#8984; + k</kbd>, then <kbd>&#8984; + c</kbd>.</p>
    <p><kbd>&#8984; + u</kbd> to remove the comment.</p>

    <h1>column selection</h1>
    <p>Column selection means select a rectangle range. <kbd>&#8679; + &#8984; + &#8997; + arrow</kbd></p>

    <h1>split editor window</h1>
    <p>Using <kbd>&#8984; + \</kbd> to split the window horizontally. Maximum editor window is 3. Using <kbd>&#8984; + 1</kbd> or <kbd>&#8984; + 2</kbd> or <kbd>&#8984; + 3</kbd> to switch to any window.</p>
</div>

{% endblock %}