{% extends "../base.html" %}

{% block content %}
<div class="container">
    <h1>Installation</h1>
    <p>For Mac, download the package node-v7.2.1.pkg, double click to install it</p>
    <p>After installation, update npm because node package install lower version npm. <br><mark>$ sudo npm install npm@latest -g</mark></p>

    <h1>Interactive shell</h1>
    <p>Enter "node" command directly enter into interactive shell. It is colorful by default.<br><mark>$ node</mark></p>

</div>

{% endblock %}