{% extends "../base.html" %}

{% block localcss %}
<style>
.float-a {
    float: left;
    height: 100px;
    border: 1px solid green;
}
.container {
    border: 1px solid red;
}
</style>
{% endblock %}

{% block content %}
<h1>About float</h1>
<ul>
    <li>The display property of the inline float element will be set to block.</li>
</ul>
<div class="container">
    <a href="#" class="float-a">This is float anchor element</a>
    <p>This is the first paragraph</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
{% endblock %}